src/*.exe
src/timecoin
src/timecoind
src/test_timecoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.timecoin

# Compilation and Qt preprocessor part
*.qm
Makefile
timecoin-qt
Timecoin-Qt.app

# Unit-tests
Makefile.test
timecoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
